{% extends 'layout/back-office.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<nav class="admin_menu">
    <a href="../user">
        Gérer les utilisateurs
    </a><br>

    <a href="../dish">
        Gérer les plats
    </a><br>

    <a href="../allergen">
        Gérer les allergens
    </a><br>

    <a href="../category">
        Gérer les catégories
    </a><br>

    <a href="../order">
        Gérer les commandes
    </a><br>
</nav>
{% endblock %}
