{% extends 'layout/front-office.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="team-wrapper">
        <h1>TEAM ✅</h1>
        <h2>These is our crew:</h2>
        <ul>
            {% for user in team %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}