{% extends 'layout/front-office.html.twig' %}

{% block body %}
    <ul>
        {% for cat in categories %}
            <li><a href="{{ path('front_dishes_category', {"id_category": cat.id}) }}">{{ cat.name }} <span class="nb_dishes"> ( {{ cat.nb }} )</span></a></li>
        {% endfor %}
    </ul>
{% endblock %}

