{% extends 'layout/front-office.html.twig' %}

{% block title %} {{ cat.name }} {% endblock %}

{% block body %}
    <h1>{{ cat.name }}</h1>

    <ul>
    {% for dish in dishes %}
        <li>{{ dish.name }} - {{ dish.price }}€  ({{ dish.calories }} Kcal)</li>
        {% if dish.allergens|length > 0 %}
            <h3>Allergene(s)</h3>
            <ul>
                {%  for allergen in dish.allergens %}
                    <li>
                        {{ allergen.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    </ul>

    <a id="link_return" href="{{ path('front_dishes') }}">Retour</a>
{% endblock %}
