{% extends 'layout/front-office.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<nav>
    <ul>
        <li><a href="/equipe">Notre team</a></li>
    </ul>
</nav>

<section>
    {{ render(controller('App\\Controller\\BlockController::dayDishesAction',
        { 'max': 3 })) }}
</section>
{% endblock %}
