<h1>Commande servie !</h1>

<p>La commande n°{{ num_commande }} vient d'etre servie.</p>

<h3>Récapitulatif de la commande</h3>
<p>
    Commande passée par la table {{ table }}<br>

<ul>
    {% for plat in plats %}
        <li> {{ plat }} </li>
    {% endfor %}
</ul>
</p>