<h1>Commande payée !</h1>

<p>La commande n°{{ num_commande }} a été réglée.</p>

<h3>Récapitulatif de la commande</h3>
<p>
    Commande passée par la table {{ table.numero }}<br>

    <ul>
        {% for plat in plats %}
            <li> {{ plat }} </li>
        {% endfor %}
    </ul>
</p>