{% extends 'base.html.twig' %}

{% block title %}Dish index{% endblock %}

{% block body %}
    <h1>Dish index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Calories</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>Sticky</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.id }}</td>
                <td>{{ dish.Name }}</td>
                <td>{{ dish.Calories }}</td>
                <td>{{ dish.Price }}</td>
                <td>{{ dish.Image }}</td>
                <td>{{ dish.Description }}</td>
                <td>{{ dish.Sticky ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('dish_show', {'id': dish.id}) }}">show</a>
                    <a href="{{ path('dish_edit', {'id': dish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dish_new') }}">Create new</a>
{% endblock %}
