<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="../../public/css/style.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="../../public/scripts/script.js"></script>-->
</head>
<body>
<main>
    <header>
        {% block header %}
            {% block title %}
                <h1> {{ page_title }} </h1>
            {% endblock %}
            <a href="../">Revenir au site client</a>
        {% endblock %}
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </footer>
</main>
</body>
</html>