<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset("web/css/style.css") }}">
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src='{{ asset("web/js/script.js") }}'></script>
        {% endblock %}
    {% endblock %}


</head>
<body>
<main>
    <header>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </footer>
</main>
</body>
</html>